.paginaPrincipal {

  background-color: lightskyblue;
  text-align: center;
  height: 100vw;
  color: white;
}

.cabecalho {
  background-color: aliceblue;
  color: blueviolet;
  text-align: left;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
}

h1 {
  margin-left: 1%;
}

h2 {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  background-color: aliceblue;
  color: blueviolet;
  border: 5px;
  border: solid;
  border-color: blueviolet;
}

form {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  background-color: aliceblue;
  color: blueviolet;
  border: 5px;
  border: solid;
  border-color: blueviolet;
}

label {
  font-weight: bold;
  cursor: pointer;
}

input {
  width: 100%;
  border: 5px;
  border: solid;
  border-color: blueviolet;
  margin-top: 1%;
  margin-bottom: 1%;
}

select {
  width: 101%;
  border: 5px;
  border: solid;
  border-color: blueviolet;
  margin-top: 1%;
  margin-bottom: 1%;
}

hr {
  background-color: blueviolet;
  padding: 5px;
}

button {
  cursor: pointer;
  text-align: center;
  background-color: aliceblue;
  font-weight: bold;
  color: blueviolet;
  border: 5px;
  border: solid;
  border-color: blueviolet;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;

}

button:hover {
  background-color: lightskyblue;
}

#cancelar {
  width: 40%;
  margin-right: 1%;
}

#cadastrar {
  width: 40%;
}

table {
  margin-left: 1%;
  width: 50%;
  text-align: left;
}

td {
  text-align: left;
  width: 65%;
}

#autorizaImagens {
  width: fit-content;
}

#restricaoAlimentarSim {
  width: fit-content;
}

#restricaoAlimentarNao {
  width: fit-content;
}

textarea {
  width: 100%;
  height: 50px;
  border: 5px;
  border: solid;
  border-color: blueviolet;
  margin-top: 1%;
  margin-bottom: 1%;
  resize: none;
}

.lista {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  background-color: aliceblue;
  color: blueviolet;
  border: 5px;
  border: solid;
  border-color: blueviolet;
}

.listaAlunos {
  background-color: aliceblue;
  color: blueviolet;
  border: 5px;
  border: solid;
  border-color: blueviolet;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  width: 90%;
  text-align: center;
}

.listarAlunos {
  background-color: aliceblue;
  color: blueviolet;
  border: 5px;
  border: solid;
  border-color: blueviolet;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

#pesquisaNaLista {
  cursor: pointer;
  width: 20%;
  margin: 1%;
}

#labelDaPesquisa {
  margin-left: 1%;
}

#searchButton {
  padding: 0%;
  width: 5%;
  margin: 0%;
}

th {
  width: 15%;
  background-color: aliceblue;
  color: blueviolet;
  border: 5px;
  border: solid;
  border-color: blueviolet;

}

.listandoAlunos {
  font-weight: bold;
  text-align: center;
  width: 15%;
  background-color: aliceblue;
  color: blueviolet;
  border: 5px;
  border: solid;
  border-color: blueviolet;
}

.btnLista {
  margin-left: 2%;
  width: fit-content;
}